<div class="page-header">
  <h1>Blocipedia <small>Social, Markdown Wikis</small></h1>
</div>
<div class="jumbotron">
  <% if user_signed_in? %>
    <h2>Hello, <%= current_user.first_name %>!</h2>
    <%= link_to "Create new wiki", new_wiki_path, class: "btn btn-primary" %>
  <% else %>
    <h2>Create and share Markdown Wikis</h2>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
  <% end %>
</div>
<div class="row">
  <% if !current_user %>
    <%= render partial: 'free_plan' %>
    <%= render partial: 'premium_plan' %>
  <% else %>
    <%= render partial: 'public_wikis' %>
    <% if current_user.role != "premium" %>
      <%= render partial: 'premium_plan' %>
    <% else %>
      <%= render partial: 'private_wikis' %>
    <% end %>
  <% end %>
</div>
