<%= form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(wiki.errors[:title]) do %>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter wiki title", autofocus: true %>
  <% end %>

  <%= form_group_tag(wiki.errors[:body]) do %>
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 24, class: "form-control", placeholder: "Enter wiki body" %>
  <% end %>

  <% if current_user.role == "premium" %>
    <%= form_group_tag(wiki.errors[:private]) do %>
      <%= f.label :private do %>
        <%= f.check_box :private %> Private
      <% end %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
    <%= link_to "Cancel", wikis_path, class: 'btn btn-danger' %>
    <% if (action_name == 'edit') && current_user.admin? %>
      <%= link_to "Delete wiki", @wiki, class: 'btn btn-danger pull-right', method: :delete, data: { confirm: 'Are you sure you want to delete this wiki?' } %>
    <% end %>
  </div>
<% end %>
