<div>
  <h1>
    <%= @wiki.title %>
    <% if @wiki.private %>
      <span class="info private-post">P</span>
    <% end %>
    <br>
    <small>
      updated <%= time_ago_in_words(@wiki.updated_at) %> ago by <%= @updater.first_name + " " + @updater.last_name %>
      <% if @updater.admin? %>
        <span class="info user-role-admin"><%= @updater.role %></span>
      <% end %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>

  <% if current_user %>
    <div class="col-md-4">
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
